.benefit {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 80px;
    }

    &__img {
        flex: 0 0 50px;
        max-width: 50px;
        object-fit: contain;

        @media screen and (max-width: 800px) {
            margin-bottom: 20px;
            flex: 0 0 auto;
            min-width: 0;
            max-width: 100px;
        }
    }

    &__text {
        flex: 0 1 auto;
        margin-left: 15px;
        max-width: 100%;

        @media screen and (max-width: 800px) {
            text-align: center;
            margin-left: 0;
            font-size: 22px;
        }
    }
}
