.about {
    &__promo {
        background-image: url("./../images/promo.jpg");
        background-position: center;
        height: 600px;
        color: $brown;
        max-width: 100%;
        position: relative;

        @media screen and (max-width: 800px) {
            max-width: 100%;
            height: 400px;
            padding: 30px 24px;
        }
    }

    &__promo-bg {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $brown, $alpha: 0.6);
    }

    &__promo-container {
        display: flex;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__title {
        position: relative;
        font-size: 52px;
        line-height: 62px;
        text-align: center;
        color: $white;
        max-width: 100%;
        width: 100%;
        margin: 0;

        @media screen and (max-width: 800px) {
            font-size: 40px;
            line-height: 50px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 40%;
            bottom: -40px;
            width: 20%;
            height: 8px;
            background-color: $yellow;
        }
    }

    &__section-title {
        position: relative;
        z-index: 2;
        font-size: 52px;
        line-height: 44px;
        color: $white;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -40px;
            width: 20%;
            height: 5px;
            background-color: $yellow;
        }
    }

    &__benefits {
        padding-top: 80px;

        @media screen and (max-width: 800px) {
            padding: 30px 24px;
        }
    }

    &__benefits-title {
        margin-bottom: 50px;
    }

    &__benefits-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            padding: 30px 24px;
        }
    }

    &__benefits-item {
        flex: 0 1 45%;

        @media screen and (max-width: 800px) {
            flex: 1 0 100%;
        }
    }

    &__company-info {
        margin-top: 80px;
        background-image: url("./../images/airplane.jpg");
        background-position: center;
        background-size: cover;
        min-height: 600px;
        color: $brown;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media screen and (max-width: 800px) {
            background-image: none;
        }
    }

    &__company-text {
        padding: 50px;
        margin-left: -50px;
        margin-right: auto;
        width: 50%;
        height: 100%;
        min-height: 600px;
        background-color: $brown;

        @media screen and (max-width: 1200px) {
            width: 70%;
        }

        @media screen and (max-width: 900px) {
            width: 100%;
            margin-left: 0;
            padding: 30px 24px;
        }

        p {
            margin-top: 80px;
            color: $black;
            font-size: 24px;
            line-height: 36px;
            color: $white;
        }
    }
}
