.tabs {
    position: relative;
    margin: 0 0 50px 0;

    &__items {
        display: flex;
    }

    &__item {
        flex: 0 1 12%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        text-align: center;
        position: relative;
        z-index: 2;
        transition: background-color 0.3s ease-in-out;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &_active, &:hover {
            background-color: $yellow;
        }
    }

    &__block {
        font-size: 18px;
        line-height: 24px;
        display: none;
        position: relative;

        &_active {
            display: block;
        }
    }
}
