.services {
    padding-top: 80px;
    
    &__list {
        list-style: none;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
    }

    &__item {
        flex: 0 0 auto;
        max-width: 100%;
    }

    @media screen and (max-width: 800px) {
        padding: 40px 24px;
    }
}