.documents {
    padding-top: 80px;
    max-width: 100%;

    @media screen and (max-width: 800px) {
        padding: 40px 24px;
    }

    &__imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 80px;
        max-width: 100%;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__img {
        flex: 0 0 auto;
        max-width: 49%;
        height: auto;
        object-fit: contain;

        @media screen and (max-width: 800px) {
            margin-bottom: 20px;
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
}
