.footer {
    margin-top: 150px;
    padding: 40px 0;
    font-size: 12px;
    line-height: 23px;
    background-color: $brown;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 800px) {
            padding: 0 24px;
            justify-content: center;
            text-align: center;
        }
    }

    &__logo {
        img {
            width: 400px;
            height: auto;
            object-fit: contain;

            @media screen and (max-width: 800px) {
                width: 200px;
            }
        }
    }
    

    &__contacts-item {
        display: block;
        color: $white;
        text-decoration: none;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;

        &:hover {
            color: $yellow;
        }
    }

    @media screen and (max-width: 800px) {
        margin-top: 50px;
    }
}
